<settings>
  <profiles>
    <profile>
      <id>sign</id>
      <properties>
        <keystore>./test.keystore</keystore>
        <storepass>testtest</storepass>
        <keypass>testtest</keypass>
        <alias>test</alias>
      </properties>
    </profile>
    <profile>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <id>always</id>
      <properties>
        <sdk.path>/Users/vvakame/work/android-sdk-mac_x86</sdk.path> 
      </properties>
    </profile>
  </profiles>
</settings>

